<div class="about-card-container">
  <md-card class="about-card">
    <h2>PWA Demo Application</h2>
    <h3>Features</h3>
    <ul>
      <li>A Service definition, so that HTTP calls can be performed to display initial data.</li>
      <li>A custom model definition, to allow map custom set of objects.</li>
      <li>Dependency Injection.</li>
      <li>Two way data binding.</li>
      <li>Routing Management</li>
      <li>Use of Material Design components for Angular</li>
    </ul>
  </md-card>
</div>
