<div class="about-card-container">
  <md-card class="about-card">
    <h2>Progressive Cats</h2>
    <h3>Features</h3>
    <ul>
      <li>Progressive Cats is a <a href="https://developers.google.com/web/progressive-web-apps/">Progressive Web Application</a> </li>
      <li>It includes a service worker to ensure an instant and reliable experience for users.</li>
      <li>It defines a Service, so that HTTP calls can be performed to display initial data.</li>
      <li>A custom model definition, to allow map custom set of objects.</li>
      <li>Dependency Injection.</li>
      <li>Routing Management</li>
      <li>Use of Material components for Angular</li>
    </ul>
  </md-card>
</div>
