<md-toolbar color="primary">
  <button md-icon-button>
    <md-icon>menu</md-icon>
  </button>
  <span>
    Progressive Cats
  </span>
  <span class="fill-space"></span>
  <a class="github-icon" href="https://github.com/luixaviles/angular-pwa-demo">
    <img src="assets/images/icons/github-icon.png">
  </a>
</md-toolbar>
<nav>
  <a>
  <button md-button color="primary" class="home-button" [routerLink] = "'/'">
    Home
  </button>
  </a>
  <a>
  <button md-button color="primary" class="home-button" [routerLink] = "'/about'">
    About
  </button>
  </a>
</nav>

<router-outlet></router-outlet>
